<html>
<head>
    <title>EDição</title>
    <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
</head>
<body>
    <h1>Dados do item</h1>
    <form action="/processar-formulario-edit" method="post">
        <label for="id">Id:</label>
        <input type="text" id="id" name="id" value="{{ item.id }}" readonly required>
        <br>
        <label for="nome">Nome:</label>
        <input type="text" id="nome" name="nome" value="{{ item.nome }}" required>
        <br>
        <label for="price">Preço:</label>
        <input type="price" id="price" name="price" value="{{ item.price }}" required>
        <br>
        <button type="submit">Salvar</button>
    </form>
</body>
</html>